body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    flex-direction: column; 
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 1em;
    text-align: center;

    font-size: 3em; 
    font-family: 'Comic Sans MS', cursive; 
}

.separator {
    height: 4px; /* Increased height for more pronounced appearance */
    background-color: #333;
    margin: 15px 0; /* Adjusted margin for spacing */
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: space-evenly; 
    width: 100%; 
}

nav ul li {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

