body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 1em;
    text-align: center;

   
    font-size: 3em; 
    margin-top: 50vh; 
    font-family: 'Comic Sans MS', cursive; 
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

